// The layer order is defnied in index.html.

@import "node_modules/modern-normalize/modern-normalize.css" layer(normalize);
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer normalize {
    a.p-button {
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
}

body {
    background-color: var(--surface-ground);
    height: 100vh;
}

app-root {
    display: flex;
    height: 100%;

    // Style the main routed component.
    router-outlet + * {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }
}

app-sidebar {
    display: grid;
    gap: 0.5rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem;
    border: 1px solid rgba(from var(--primary-color) r g b / 0.33);
    border-radius: var(--border-radius);
    background-color: rgba(from var(--surface-ground) r g b / 0.33);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
    /*
        "display: block" removes the small gap below the canvas.
        Alternatives are "vertical-align: top;" on the canvas
        or "font-size: 0;" on the element containing the canvas.
        https://stackoverflow.com/questions/8600393/there-is-a-4px-gap-below-canvas-video-audio-elements-in-html5
    */
    display: block;
}

.p-button.p-button-icon-only {
    // Make the squared buttons actually square and the same height as the rounded ones.
    height: 2.5rem;
}
