// The layer order is defnied in index.html.

@import "node_modules/modern-normalize/modern-normalize.css" layer(normalize);
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* * {
    outline: 1px dotted red;
} */

body {
    background-color: var(--surface-ground);
    color: #ededed;
    font-family: system-ui, sans-serif;
    height: 100%;
}

a:not(.button) {
    color: #81f3f3;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        text-shadow: #81f3f3 0 0 1rem;
    }
}

a.button,
button {
    background: transparent;
    border: 0.1rem solid #505050;
    border-radius: 0.5rem;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 0.2rem 0.7rem;
    text-decoration: none;
}

canvas {
    /*
        "display: block" removes the small gap below the canvas.
        Alternatives are "vertical-align: top;" on the canvas
        or "font-size: 0;" on the element containing the canvas.
        https://stackoverflow.com/questions/8600393/there-is-a-4px-gap-below-canvas-video-audio-elements-in-html5
    */
    display: block;
}
