// The layer order is defnied in index.html.

@import "node_modules/modern-normalize/modern-normalize.css" layer(normalize);
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer normalize {
    a.p-button {
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
}

body {
    background-color: var(--surface-ground);
    height: 100vh;
}

app-root {
    display: flex;
    height: 100%;

    // Style the main routed component.
    router-outlet + * {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }
}

.menu-overlay {
    position: fixed;
    top: 1rem;

    display: grid;
    gap: 0.5rem;
    justify-items: center;

    padding: 0.5rem;
    border: 1px solid rgba(from var(--primary-color) r g b / 0.33);
    border-radius: var(--border-radius);

    background-color: rgba(from var(--surface-ground) r g b / 0.33);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &.overlay-left {
        left: 1rem;
    }

    &.overlay-right {
        right: 1rem;
    }

    .slider-with-label {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        color: var(--primary-color);

        label {
            margin-left: 10px;
        }
    }
}

canvas {
    /*
        "display: block" removes the small gap below the canvas.
        Alternatives are "vertical-align: top;" on the canvas
        or "font-size: 0;" on the element containing the canvas.
        https://stackoverflow.com/questions/8600393/there-is-a-4px-gap-below-canvas-video-audio-elements-in-html5
    */
    display: block;
}

p-slider {
    // Fix margins to take the size of the slider handle into account.
    padding: 8px 10px;
    width: 100%;
}

.p-button.p-button-icon-only {
    // Make the squared buttons actually square and the same height as the rounded ones.
    height: 2.5rem;
}

dd {
    margin-bottom: 1em;
}

dt {
    font-weight: bold;

    &::before {
        content: "\2022\20";
    }
}
