<h1>A collection of my sketches made with p5.js</h1>
<dl>
    <dt>
        <a routerLink="sketch/flood-fill">Flood Fill</a>
    </dt>
    <dd>For resting a flood fill algorithm.</dd>

    <dt>
        <a routerLink="sketch/falling-sand">Falling Sand</a>
    </dt>
    <dd>A simple falling sand simulation.</dd>

    <dt>
        <a routerLink="sketch/langtons-ant">Langton's Ant</a>
    </dt>
    <dd>
        A two-dimensional Turing machine. See
        <a href="https://en.wikipedia.org/wiki/Langton%27s_ant" target="_blank">Wikipedia</a>.
    </dd>

    <dt>
        <a routerLink="sketch/firefly-messages">Firefly Messages</a>
    </dt>
    <dd>Particles forming words. Inspired by the helpful messages in the game "Oddworld: Abe's Oddysee".</dd>

    <dt>
        <a routerLink="sketch/epicycles">Epicycles</a>
    </dt>
    <dd>Epicycle animations.</dd>

    <dt>
        <a routerLink="sketch/noise2dHsl">2D Noise with HSL</a>
    </dt>
    <dd>Exploring the HSL color space with 2d Perlin noise while trying to get a wide color distribution.</dd>

    <dt>
        <a routerLink="sketch/perlin-noise-flow-field">Perlin Noise Flow Field</a>
    </dt>
    <dd>
        A Perlin noise flow field based on the video
        <a href="https://www.youtube.com/watch?v=BjoM9oKOAKY" target="_blank">
            Coding Challenge #24: Perlin Noise Flow Field
        </a>
        by <a href="https://www.youtube.com/@TheCodingTrain" target="_blank">The Coding Train</a>.
    </dd>

    <dt>
        <a routerLink="sketch/colorbands">Colorbands</a>
    </dt>
    <dd>
        An experiment with HSL colorspace and trying to get a uniform color distribution from normal distributed
        `noise()`.
    </dd>

    <dt>
        <a routerLink="sketch/noise2d">2D Noise</a>
    </dt>
    <dd>
        Experiments with 2D Perlin noise based on the video
        <a href="https://www.youtube.com/watch?v=ikwNrFvnL3g" target="_blank">
            I.5: 2D Noise - Perlin Noise and p5.js Tutorial
        </a>
        by <a href="https://www.youtube.com/@TheCodingTrain" target="_blank">The Coding Train</a>.
    </dd>

    <dt>
        <a routerLink="sketch/noise1d">1D Noise Graph</a>
    </dt>
    <dd>
        An animated graph of 1D Perlin noise based on the video
        <a href="https://www.youtube.com/watch?v=y7sgcFhk6ZM" target="_blank">
            I.4: Graphing 1D Perlin Noise - Perlin Noise and p5.js Tutorial
        </a>
        by <a href="https://www.youtube.com/@TheCodingTrain" target="_blank">The Coding Train</a>.
    </dd>

    <dt>
        <a routerLink="sketch/collatz-conjecture">Collatz Conjecture</a>
    </dt>
    <dd>
        A visualization of the Collatz conjecture based on the video
        <a href="https://www.youtube.com/watch?v=EYLWxwo1Ed8" target="_blank">Coding the Collatz Conjecture</a>
        by <a href="https://www.youtube.com/@TheCodingTrain" target="_blank">The Coding Train</a>. Takes a moment to
        load.
    </dd>
</dl>
