html,
body {
    height: 100%;
}

body {
    background-color: #202020;

    /* Center the sketch vertically and horizontally. */
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: safe center;
}

canvas {
    display: block;
    margin: auto;
}

p {
    color: grey;
}
