html,
body {
    height: 100%;
}

body {
    background-color: #202020;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: safe center;
}
